* {
    margin: 0px; 
    padding: 0px;
}

a {
    color: #D9B344;
    text-decoration: none;
    text-decoration-line: none;

}


#headerContainer { display: flex;
    justify-content: space-between; 
    margin: 0px;
    background-color: #262626;
    height: 120px;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px #000000;
    position: sticky !important;
    z-index: 15;
}
    
    nav h1 { color: #D9B344; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    cursor: pointer;
    height: 70px;
    display: flex;
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
    }

    .homePagelogo {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .burgerIcon {
        background-image: url("../images/Burger\ icon\ interactive.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 35px;
    width: 50px;
    /**outline: 1px solid red;**/
    margin-left: 40px;
    display: none;

    }


    
    .iconsearchContainer { height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
    }

    #searchIcon { height: 35px;
        display: flex;
        align-items: center;
        margin: 10px;
        background-color: #262626;
        width: 35px;
        background-image: url("../images/search.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        transition: 0.3s;
        }


#searchIcon:hover { transform: rotate(-45deg);
    
   }

.searchform {
    border: 1px solid #FFC91B;
    margin-left: 0px;
    margin-right: 0px;
    width: 200px;
    height: 35px;
    margin: 10px;
    color: #D9B344;
    text-align: center !important;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

#formCloser {
    border: 1px solid #FFC91B;
    width: 35px;
    height: 35px;
    background-color: #FFC91B;
    margin-left: 50px;
    margin-right: 0px !important;
    background-image: url("../images/closer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    transition: 0.3s;
}

#formCloser:hover {
    background-color: #575757;
    border: 1px solid #575757;
}



/**#searchIcon:hover { transform: translateX(40);
outline: ; }**/


.primaryNav { display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#project { display: inline;
    height: 35px;
width: 120px;
position: relative;
/**outline: 2px solid red;**/
margin: 20px;
padding: 5px;
background-color: #262626;
color: #FFC91B;
font-weight: 400;
transition: 0.3s;
}

#project img:hover { 
    transition: 0.3s;
    transform: rotate(180deg);
    background-color: #575757;
    color: #F2F2F2;
}

#about { display: inline;
    height: 35px;
width: 120px;
position: relative;
/**outline: 2px solid red;**/
margin: 20px;
padding: 5px;
background-color: #262626;
color: #FFC91B;
font-weight: 400;
transition: 0.3s;
}

#about img:hover { 
    transition: 0.3s;
    transform: rotate(180deg);
    background-color: #575757;
    color: #F2F2F2;
}

#resume { display: inline;
    height: 35px;
width: 120px;
position: relative;
/**outline: 2px solid red;**/ 
margin: 20px;
padding: 5px;
background-color: #262626;
color: #FFC91B;
font-weight: 400;
transition: 0.3s;
}

#resume img :hover { 
    transition: 0.3s;
    transform: rotate(180deg);
    background-color: #575757;
    color: #F2F2F2;
}

#contact { display: inline;
    height: 35px;
width: 120px;
position: relative;
/**outline: 2px solid red;**/ 
margin: 20px;
padding: 5px;
background-color: #262626;
color: #FFC91B;
font-weight: 400;
transition: 0.3s;
}

#contact img:hover { 
    transition: 0.3s;
    transform: rotate(180deg);
    background-color: #575757;
    color: #F2F2F2;
}

ul {

list-style-type: none;
margin:0;
padding: 0;
}
/**navChilds**/

.navChildburger { 
    display: none;
    background-color: #575757;
    position:relative;
    /**outline: 2px solid red;**/
    width: 250px;
    height: fit-content;
    margin-top: 40px; 
 }

.navChildburger li { 
   margin: 0;
   padding: 15px;
   border: 1px solid #000000;
}


 .navChildproject { 
     display: none;
     background-color: #575757;
     position:relative;
     /**outline: 2px solid red;**/
     width: 250px;
     height: fit-content;
     margin-top: 25px; 
  }

.navChildproject li { 
    margin: 0;
    padding: 15px;
    border: 1px solid #000000;
}

.navChildabout { 
    display: none;
    background-color: #575757;
    position:relative;
    /**outline: 2px solid red;**/
    width: 250px;
    height: fit-content;
    margin-top: 25px; 
 }

.navChildabout li { 
   margin: 0;
   padding: 15px;
   border: 1px solid #000000;
}

.navChildresume { 
    display: none;
    background-color: #575757;
    position:relative;
    /**outline: 2px solid red;**/
    width: 250px;
    height: fit-content;
    margin-top: 25px; 
 }

.navChildresume li { 
   margin: 0;
   padding: 15px;
   border: 1px solid #000000;
}

.navChildcontact { 
    display: none;
    background-color: #575757;
    position:relative;
    /**outline: 2px solid red;**/
    width: 250px;
    height: fit-content;
    margin-top: 25px; 
 }

.navChildcontact li { 
   margin: 0;
   padding: 15px;
   border: 1px solid #000000;
}


#about:hover { background-color: #575757;
    color: #F2F2F2; }

#resume:hover { background-color: #575757;
    color: #F2F2F2; }

#contact:hover { background-color: #575757;
        color: #F2F2F2; }
        
#project:hover { background-color: #575757;
            color: #F2F2F2; }


p { 
    display: block;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: 'Public Sans', sans-serif;
 }

.download {
    display: flex;
    align-items:center;
    justify-content: end;
    margin: 20px;
}

.downloadicon {
    height: 75px;
    width: 70px;
    margin: 10px;
    background-image: url("../images/Mask\ Group.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /**animation: downloadicon 0.7s infinite;**/
}

/**@keyframes downloadicon {
    from {
      margin-top: 0px;
    }
    50% {
      margin-top: 1px;
    }
    to {
      margin-top: 0px;
    }
  }**/


.sectionContents { display: grid;
    margin: 20px;
grid-template-columns: 20% 80%;
grid-template-rows: 1fr;
grid-template-areas: 
"aboutPictures" "aboutProfile";
/*background-color: #262626;*/
 }

 #aboutPictures { display: grid;
    grid-template-rows: 50% 5% 50%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "profilePicture"
    "tools"
    "toolDescription";
/**outline: 2px solid blue;**/
height: 480px;
margin: 10px;
padding: 10px;
border-bottom-left-radius: 30px;
border-top-left-radius: 30px;
box-sizing: border-box;
box-shadow: 4px 4px 8px #000000;
color: #000000;
}

#aboutProfile { display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items:flex-start;
    /**outline: 2px solid blue;**/
height: 480px;
margin: 10px;
padding: 10px;
box-sizing: border-box;
box-shadow: 4px 4px 8px #000000;
color: #000000;
border-bottom-right-radius: 30px;
border-top-right-radius: 30px;
}

.profilePicture { grid-area: profilePicture;
background-image: url("../images/profile\ picture\ rounded.png");
height: 100%;
width: 100%;
border-radius: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
align-items:center;
justify-content:center;}

#tools { 
    grid-area: tools;
    margin: 30px;
color: #F2F2F2; }

.toolDescription { 
    grid-area: toolDescription;
    margin: 30px;
    margin-top: 30px;
    color: #F2F2F2;
 }

 #name, #role, #bio { color: #ffffff; }


 #aboutBio { /**outline: 2px solid #FFC91B;**/
    background-color: #262626;
    color: #F2F2F2;}

/* my skills*/

#mySkills { 
    display: block;
    /**outline: 2px solid red;**/
    margin: 10px;
    color: #F2F2F2;
  
 }

 #mySkills h1{ display: block;
    border-bottom: 2px solid #FFC91B;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px #000000;
    
  }

  #mySkills h2 { display: block;
    border-bottom: 2px solid #FFC91B;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px #000000;
    
  }

.myUxSkills { 
    display: grid;
    margin: 10px;
    /**outline: 2px solid blue;**/
    margin-top: 30px;
    margin-bottom: 30px;
    grid-template-rows: 20% 5% 75%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "designSketch" "prototyping" "usertesting" "myuiTools"
    "img" "img" "img" "img"
    "h3" "h3" "h3"
 }


h2 { 
    display: block;
    border-bottom: 2px solid #FFC91B;
    text-align:left;
    margin: 10px;
    color: #ffffff;
 }


.myUiSkills { 
    display: grid;
    margin: 10px;
    /**outline: 2px solid blue;**/
    margin-top: 30px;
    margin-bottom: 30px;
    grid-template-rows: 20% 5% 75%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "designSketch" "prototyping" "usertesting" "myuiTools"
    "img" "img" "img" "img"
    "h3" "h3" "h3"

}

button {
    background-color: transparent;
}

#userResearch { 
    display: block;
    margin: 10px;
    color: #F2F2F2;
    font-family: 'Public Sans', sans-serif; 
 }

 #userResearch img , h3{ 
    margin: 30px;  
 }


 #userEmpathy img , h3{ 
    margin: 30px;  
 }

 #quantitativeIntervies img , h3{ 
    margin: 30px;  
 }



#userEmpathy { 
    display: block;
    margin: 10px;
    color: #F2F2F2;
    font-family: 'Public Sans', sans-serif;
}

#quantitativeIntervies { 
    display: block;
    margin: 10px;
    color: #F2F2F2;
    font-family: 'Public Sans', sans-serif;
}

.myuxTools { 
    display: block;
    border-color: #D9B344;
    font-family: 'Public Sans', sans-serif;
}

#designSketch { 
    display: block;
    margin: 10px;
    color: #F2F2F2;
    font-family: 'Public Sans', sans-serif;   
 }

#prototyping { 
    display: block;
    margin: 10px;
    color: #F2F2F2;
    font-family: 'Public Sans', sans-serif;
}

#usertesting { 
    display: block;
    margin: 10px;
    color: #F2F2F2;
    font-family: 'Public Sans', sans-serif;
}

.myuiTools { 
    display: block;
}

#designSketch img , h3{ 
    margin: 30px;  
 }

 #prototyping img , h3{ 
    margin: 30px;  
 }

 #usertesting img , h3{ 
    margin: 30px;  
 }


.toolList { 
    display: block;
    margin: 20px;
    padding: 10px;
    width: 325px;
    height: 355px;
    /**border: 2px solid red;**/
    box-sizing: border-box;
    box-shadow: 4px 4px 8px #000000;
    background-color: #D9B344;
    color: #000000;
    font-family: 'Public Sans', sans-serif;
}

#myWork { 
        display: block;
        margin: 10px;
        color: #ffffff;
      }

#myWork h1{ display: block;
        border-bottom: 2px solid #FFC91B;
        text-align: center;
        margin: 10px;
        box-sizing: border-box;
    box-shadow: 2px 2px 4px #000000;
}

.myCaseStudies { 
        display: block;
        margin-bottom: 20px;
     }

.myCaseStudies h3 { 
    margin: 10px;

}


#caseSkills { 
    display: flex;
    justify-content:space-evenly;
    align-items: center;


}

#caseDol { 
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}

#caseCof { 
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}

.skillscard {
    display: flex;
    justify-content: space-between;
    height: 320px;
    width: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url("../images/skills.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.skillssummary {
    display: flex;
    height: 320px;
    width: 240px;
    align-items: center;
}

.dolcard {
    display: flex;
    justify-content: space-between;
    height: 320px;
    width: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url("../images/DOL.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.dolsummary {
    display: flex;
    height: 320px;
    width: 240px;
    align-items: center;
}

.cofcard {
    display: flex;
    justify-content: space-between;
    height: 320px;
    width: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url("../images/Cof.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.cofsummary {
    display: flex;
    height: 320px;
    width: 240px;
    align-items: center;
}


.button {
    display: flex; 
    outline: 2px solid #D9B344;
    padding: 15px;
    height: 30px;
    width: 250px;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    background-color: #262626;
    cursor: pointer;
    transition: 0.3s;
    }
    
.button:hover { background-color: #D9B344;
        color: black;
    
    }


    
/*footer*/

#footerContainer { display: flex;
    justify-content: center; 
    margin: 0px;
    height: 120px;
    align-items: center;
    background-color: #262626;
}
.instagram { display: flex;
    height: 25px;
    width: 25px;
    /**outline: 2px solid #363333;**/
    background-image: url("../images/editinsta.png");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 15px;
cursor: pointer;
transition: 0.3s; 
}

.instagram:hover { 
    background-image: url("../images/instagram\ color.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
    cursor: pointer; 
 }


.linkedIn { display: flex;
    height: 25px;
    width: 25px;
    /**outline: 2px solid #363333;**/
    background-image: url("../images/Edit\ linkedin.png");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 15px; 
cursor: pointer;
transition: 0.3s;
 }

.linkedIn:hover { 
    background-image: url("../images/Linking\ color.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
    cursor: pointer;
 }

.gitHub { display: flex;
    height: 25px;
    width: 25px;
    /**outline: 2px solid #363333;**/
    background-image: url("../images/github.png");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 15px;
cursor: pointer;
transition: 0.3s;
}

.gitHub:hover { 
    background-image: url("../images/github\ color.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
    cursor: pointer;
 }

.email { display: flex;
    height: 25px;
    width: 25px;
    /**outline: 2px solid #363333;**/
    background-image: url("../images/editemail.png");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 15px;
cursor: pointer;
transition: 0.3s;
 }

.email:hover { 
    background-image: url("../images/Email\ color.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
    cursor: pointer;
}



body { background-color: #262626;
    font-family: 'Public Sans', sans-serif;
color: #F2F2F2 !important; }

@media only screen and (max-width: 720px) {

   /**h1 { 
       color: red;
   } **/

   /**.myCaseStudies { 
       display: flex; 
       flex-direction: column;
   } **/
   #caseSkills { 
       display: flex; 
       flex-direction: column;
   } 

   .skillssummary { 
       height: 100%;
       margin-bottom: 35px;
   }

   #caseDol { 
    display: flex; 
    flex-direction: column;
} 

#caseDol { 
    height: 100%;
    margin-bottom: 35px;
}

#caseCof { 
    display: flex; 
    flex-direction: column;
} 

#caseCof { 
    height: 100%;
    margin-bottom: 35px;

}

.myUiSkills {
    display: flex;
    flex-direction: column;
}

.myUiSkills h3 {

    margin-top: 20px;
    margin-bottom: 20px;
}

.myUxSkills {
    display: flex;
    flex-direction: column;
}

.myUxSkills h3 {

    margin-top: 20px;
    margin-bottom: 20px;
}

.sectionContents { display: grid;
    margin: 20px;
grid-template-columns: 1fr;
grid-template-rows: 50% 50%;
grid-template-areas: 
"aboutPictures" 
"aboutProfile";
/*background-color: #262626;*/

 }

 #aboutPictures { 
border-top-right-radius: 30px;
border-top-left-radius: 30px;
border-bottom-left-radius: 0px;
box-sizing: border-box;
box-shadow: 4px 4px 8px #000000;
color: #000000;
}

#aboutProfile { 
    box-sizing: border-box;
    box-shadow: 4px 4px 8px #000000;
    color: #000000;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0px;
    }

.profilePicture { grid-area: profilePicture;
        height: 100%;
        width: 50%;
        border-radius: 60%;
}

nav h1 { color: #D9B344; 
    margin: 10px;
    cursor: pointer;
    height: 45px;
    }

.primaryNav { display: none;
    }

.burgerIcon {
    
    display: flex;

    }
    
}



